@font-face {
    font-family: "Pretendard";
    font-style: normal;
    font-weight: 100;
    src: url(https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css)
}